env.py
session.vim
.undodir/
*.py[cod]
**/*.swp
__pycache__
_*/
*.code-workspace
.vscode
#/plan
.cursor

# Ignore everything in nodes/Gizmos except WAN_MANY.nk
nodes/Gizmos/*
!nodes/Gizmos/WAN_MANY.nk
